* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-contato {
    background-image: url(./img/contato.png);
    width: 100vw;
    height: 100vh;
}

.dados-contato{
    display: inline-block;
    width: 50%;
    height: 100vh;
}

.logo-contato {
    padding-left: 7px;
    padding-top: 37px;
}
   


h4 {
    color: #132540;
    font-size: 38px;
    font-weight: 500;
    line-height: normal;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 30px;
}

h5 {
    color: #132540;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    padding-left: 40px;
    padding-bottom: 16px;
}

.localizacao {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 100vh;
}

h6 {
    color: #132540;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    padding-top: 190px;
    padding-bottom: 16px;
}

